       .main-sidebar{
            display: block;
        }
       .top-0 {
            backdrop-filter: blur(12px);
        }
        .fab-gradient {
            background-image: linear-gradient(to top, #6d28d9, #8b5cf6);
        }
        .navbar{
            display: none;
        }
    @media only screen and (max-width: 600px) {
        input[type="text"],
            input[type="email"],
            input[type="password"],
            input[type="number"],
            textarea {
                font-size: 16px;
            }
        .main-sidebar{
            display: block;
        }
        .navbar {
            display: block;
            position: fixed;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            padding: 5px 0 5px 0;
            background-color: rgba(255, 255, 255, 0.25);
            box-shadow: 0 0 30px 0 rgba(0, 0, 0, .05);
            margin-bottom: 0px;
            border-radius: var(--radius-md);
            backdrop-filter: blur(12px);
        }

        .navbar button {
            cursor: pointer;
            width: 60px;
            height: 50px;
            border-radius: 20px;
            background: transparent;
            transition: all .25s ease;
        }

        .navbar button:active:not(.plus) {
            transform: scale(1.2);
        }

        .navbar button.active {
            color: #e84c4f;
        }

        .navbar button i {
            font-size: 1.5rem;
            pointer-events: none;
        }
        .navbar button.plus {
            height: 60px;
            color: #000;
            background: #e84c4f;
            border-radius: 25px;
            margin-top: -25px;
            box-shadow: 0 10px 20px 0 #e84c4f66;
        }

        .navbar button.plus:hover {
            transform: translateY(-4px);
        }

        .navbar .effect {
            position: absolute;
            width: 60px;
            height: 50px;
            border-radius: 18px;
            background: #e84c4f26;
            opacity: 0;
        }
    }