<div class="create-wallet-page-container">

    <header class="create-wallet-header">
        <div class="header-top-nav">
            <a href="/books" class="back-link"><i class="fas fa-chevron-left"></i></a>
            <span>Buat Buku Baru</span>
            <span style="width: 20px;"></span> 
        </div>
    </header>

    <main class="create-wallet-content">
        
        <div id="error-container" class="hidden my-2 p-3 text-sm text-red-700 bg-red-100 rounded-md dark:bg-red-950 dark:text-red-400 mb-4"></div>

        <form id="create-wallet-form" class="form-card">
            <h3 class="form-title">Detail Buku Baru</h3>
            
            <div class="form-group">
                <label for="wallet-name">Nama Buku</label>
                <input class="input-field" placeholder="Contoh: Buku Pribadi, Kantor, dll." id="wallet-name" value="" required />
            </div>

            <input type="hidden" id="module-type" value="CASH_FLOW" /> 
            
            <div style="padding-top: 10px;">
                <button type="submit" class="submit-btn">
                    <span class="loading-spinner" id="spinner"></span>
                    <span id="button-text">Buat Buku</span>
                </button>
            </div>
        </form>
    </main>
</div>